<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
       <title>Style Music</title>
        <meta charset="UTF-8">
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <aside th:replace="layout/plantilla :: aside" />
       
        <div class="contenido">            
            <h2>[[#{genero.titulo}]]</h2>            
            <a th:href="@{/genero/nuevo}">
                <button class="green">Nuevo Genero</button>
            </a>      
            <div th:if="${generos != null and !generos.empty}">            
                <table 
                    class="table-primary"
                    border="2">                  
                    <thead>                       
                        <tr class="table-primary">                         
                            <th th:text="#{genero.nombre}" scope="col">[[#{cantante.nombre}]]</th>                 
                            <th scope="col">[[#{accion.modificar}]]</th>                    
                            <th scope="col">[[#{accion.eliminar}]]</th>                  
                        </tr>                  
                    </thead>         
                    <tbody>                 
                        <tr th:each="item : ${generos}">          
                            <td th:text="${item.nombregenero}"
                                class="table-dark">
                            </td>      
                            <td
                                class="table-dark">
                                <a th:href="@{/modificarGenero/} + ${item.idGenero}">
                                    <button class="blue">[[#{accion.modificar}]]</button>
                                </a>
                            </td>                          
                            <td
                                class="table-dark">
                                <a th:href="@{/eliminarGenero/} + ${item.idGenero}">
                                    <button class="red">[[#{accion.eliminar}]]</button>
                                </a>
                            </td>          
                        </tr>            
                    </tbody>        
                </table>         
            </div>
            <div th:if="${generos == null or generos.empty}"> 
                La lista de generos está vacía
            </div>    
        </div>  
        
    </body>
    <footer th:replace="layout/plantilla :: footer" />
</html>
