<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <title>Style Music</title>
        <meta charset="UTF-8">
            <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
            <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            
    </head>
    <body>
        <div>
            <aside th:fragment="aside" class="barralateral">
            <nav class="menu">
                <ul>
                    <li style="--clr:#00ade1">
                        <a href="/"  data-text="&nbsp;Inicio">&nbsp;[[#{plantilla.inicio}]]&nbsp;</a>
                    </li>
                    <li style="--clr:#ff6493">
                        <a href="/perfil/cliente" data-text="&nbsp;Perfil">&nbsp;[[#{plantilla.perfil}]]&nbsp;</a>
                    </li>
                    <li style="--clr:#ffdd1c">
                        <a href="Playlist.html" data-text="&nbsp;Playlist">&nbsp;[[#{plantilla.playlist}]]&nbsp;</a>
                    </li>
                    <li style="--clr:#00dc82">
                        <a href="Biblioteca.html" data-text="&nbsp;Biblioteca">&nbsp;[[#{plantilla.biblioteca}]]&nbsp;</a>
                    </li>
                    <li style="--clr:#dc00d4">
                        <a href="/genero/listado" data-text="&nbsp;Generos">&nbsp;[[#{plantilla.genero}]]&nbsp;</a>
                    </li>
                    <li style="--clr:#07FFD9">
                        <a href="/cantante/listado" data-text="&nbsp;Artistas">&nbsp;[[#{plantilla.cantante}]]&nbsp;</a>
                    </li>
                    <li style="--clr:#4040FF">
                        <a href="Videos.html" data-text="&nbsp;Videos">&nbsp;[[#{plantilla.videos}]]&nbsp;</a>
                    </li>
                    <li style="--clr:#FF32E3">
                        <a href="Configuracion.html" data-text="&nbsp;Configuracion">&nbsp;[[#{plantilla.config}]]&nbsp;</a>
                    </li>

                </ul>

            </nav>
        </aside>
        </div>
        
        <div th:fragment="div" class="contenido">

        <h1></h1>

      
    </div>
    <footer th:fragment="footer" >
            <p class="footer">
                &COPY [[#{plantilla.derechos}]]
                <a th:href="@{/(lang=es)}">ES</a> | 
                <a th:href="@{/(lang=en)}">EN</a>
            </p>
        </footer>
        
    </body>
</html>