<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
 
    </head>

    <body>
        <aside th:replace="layout/plantilla :: aside" />
       
        <div class="contenido">            
            <h2>[[#{cantante.titulo}]]</h2>            
            <a th:href="@{/cantante/nuevo}">
                <button class="green">Nuevo Cantante</button>
            </a>      
            <div th:if="${cantantes != null and !cantantes.empty}">            
                <table 
                    class="table table-striped table-dark"
                    border="2">                  
                    <thead>                       
                        <tr>                         
                            <th th:text="#{cantante.nombre}" scope="col">[[#{cantante.nombre}]]</th>                 
                            <th scope="col">[[#{accion.modificar}]]</th>                    
                            <th scope="col">[[#{accion.eliminar}]]</th>                  
                        </tr>                  
                    </thead>        
                    <tbody>               
                        <tr th:each="item : ${cantantes}">          
                            <td th:text="${item.nombrecantante}">    
                            </td>      
                            <td>
                                <a th:href="@{/modificarCantante/} + ${item.idCantante}">
                                    <button class="blue">[[#{accion.modificar}]]</button>
                                </a>
                            </td>                          
                            <td>
                                <a th:href="@{/eliminarCantante/} + ${item.idCantante}">
                                    <button class="red">[[#{accion.eliminar}]]</button>
                                </a>
                            </td>          
                        </tr>            
                    </tbody>        
                </table>         
            </div>
            <div th:if="${cantantes == null or cantantes.empty}"> 
                La lista de artistas está vacía
            </div>    
        </div>  
        
    </body>
    <footer th:replace="layout/plantilla :: footer" />
</html>
